<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.moaz.dash_bubble">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name=".src.BubbleService" />
    </application>

</manifest>
